[google-pr2]
host=35.240.132.125
user=pr2_read
password=pr2_read_2019
collation-server = utf8_general_ci
#character-set-server = utf8
character-set-server = utf8mb4
skip-character-set-client-handshake
# See: https://stackoverflow.com/questions/30932708/how-to-change-dplyrtbl-connection-encoding-to-utf8

[google-metapr2]
host=35.240.132.125
user=metapr2_read
password=metapr2
collation-server = utf8_general_ci
#character-set-server = utf8
character-set-server = utf8mb4
skip-character-set-client-handshake
# See: https://stackoverflow.com/questions/30932708/how-to-change-dplyrtbl-connection-encoding-to-utf8
